In [2]:
import pandas as pd
import numpy as np
import missingno as msno

In [19]:
data = pd.read_csv('DS_Jobs.csv')

In [20]:
data.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa..."
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [21]:
data = data.drop('Unnamed: 0', axis = 1)

In [22]:
data.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors'],
      dtype='object')

In [24]:
data.columns = ['title', 'salary', 'description', 'rating',
       'company', 'location', 'headquarters', 'size', 'founded',
       'type', 'industry', 'sector', 'revenue', 'competitors']

# Salary Parsing

In [26]:
data.salary.value_counts()

-1                                  214
$21-$34 Per Hour(Glassdoor est.)      6
$54K-$115K (Glassdoor est.)           6
$86K-$143K (Glassdoor est.)           6
$49K-$113K (Glassdoor est.)           6
                                   ...
$121K-$193K (Glassdoor est.)          1
$102K-$163K (Glassdoor est.)          1
$40K-$87K (Glassdoor est.)            1
$37K-$76K (Glassdoor est.)            1
$129K-$215K (Glassdoor est.)          1
Name: salary, Length: 417, dtype: int64

In [30]:
data = data[data['salary'] != '-1']

In [91]:
data.shape

(742, 17)

In [45]:
data.salary.unique()

array(['$53K-$91K (Glassdoor est.)', '$63K-$112K (Glassdoor est.)',
       '$80K-$90K (Glassdoor est.)', '$56K-$97K (Glassdoor est.)',
       '$86K-$143K (Glassdoor est.)', '$71K-$119K (Glassdoor est.)',
       '$54K-$93K (Glassdoor est.)', '$86K-$142K (Glassdoor est.)',
       '$38K-$84K (Glassdoor est.)', '$120K-$160K (Glassdoor est.)',
       '$126K-$201K (Glassdoor est.)', '$64K-$106K (Glassdoor est.)',
       '$106K-$172K (Glassdoor est.)', '$46K-$85K (Glassdoor est.)',
       '$83K-$144K (Glassdoor est.)', '$102K-$190K (Glassdoor est.)',
       '$67K-$137K (Glassdoor est.)', '$118K-$189K (Glassdoor est.)',
       '$110K-$175K (Glassdoor est.)', '$64K-$111K (Glassdoor est.)',
       '$81K-$130K (Glassdoor est.)', '$73K-$119K (Glassdoor est.)',
       '$86K-$139K (Glassdoor est.)', '$63K-$105K (Glassdoor est.)',
       '$109K-$177K (Glassdoor est.)', '$63K-$110K (Glassdoor est.)',
       '$75K-$124K (Glassdoor est.)', '$34K-$61K (Glassdoor est.)',
       '$72K-$120K (Glassdoor est.)', '$93K-$149K (Glassdoor est.)',
       '$85K-$140K (Glassdoor est.)', '$77K-$135K (Glassdoor est.)',
       '$82K-$132K (Glassdoor est.)', '$83K-$137K (Glassdoor est.)',
       '$115K-$180K (Glassdoor est.)', '$74K-$138K (Glassdoor est.)',
       '$64K-$112K (Glassdoor est.)', '$68K-$129K (Glassdoor est.)',
       '$52K-$113K (Glassdoor est.)', '$110K-$150K(Employer est.)',
       'Employer Provided Salary:$150K-$160K',
       '$158K-$211K (Glassdoor est.)', '$20K-$39K (Glassdoor est.)',
       '$56K-$117K (Glassdoor est.)', '$63K-$99K (Glassdoor est.)',
       '$68K-$114K (Glassdoor est.)', '$41K-$95K (Glassdoor est.)',
       '$86K-$144K (Glassdoor est.)', '$80K-$139K (Glassdoor est.)',
       '$56K-$95K (Glassdoor est.)', '$120K-$189K (Glassdoor est.)',
       '$111K-$176K (Glassdoor est.)', '$84K-$146K (Glassdoor est.)',
       '$107K-$172K (Glassdoor est.)', '$49K-$85K (Glassdoor est.)',
       '$61K-$109K (Glassdoor est.)', '$88K-$148K (Glassdoor est.)',
       '$60K-$99K (Glassdoor est.)', '$41K-$72K (Glassdoor est.)',
       '$96K-$161K (Glassdoor est.)', '$65K-$130K (Glassdoor est.)',
       '$52K-$81K (Glassdoor est.)', '$139K-$220K (Glassdoor est.)',
       '$50K-$102K (Glassdoor est.)', '$85K-$139K (Glassdoor est.)',
       '$74K-$122K (Glassdoor est.)', '$99K-$157K (Glassdoor est.)',
       '$79K-$222K (Glassdoor est.)', '$57K-$118K (Glassdoor est.)',
       '$86K-$141K (Glassdoor est.)', '$94K-$154K (Glassdoor est.)',
       '$37K-$76K (Glassdoor est.)', '$100K-$160K (Glassdoor est.)',
       '$55K-$100K (Glassdoor est.)', '$60K-$114K (Glassdoor est.)',
       '$39K-$68K (Glassdoor est.)', '$64K-$107K (Glassdoor est.)',
       '$31K-$65K (Glassdoor est.)', '$34K-$62K (Glassdoor est.)',
       '$117K-$231K (Glassdoor est.)', '$79K-$134K (Glassdoor est.)',
       '$52K-$93K (Glassdoor est.)', '$55K-$116K (Glassdoor est.)',
       '$72K-$123K (Glassdoor est.)', '$74K-$124K (Glassdoor est.)',
       '$40K-$73K (Glassdoor est.)', '$102K-$164K (Glassdoor est.)',
       '$89K-$153K (Glassdoor est.)', '$61K-$110K (Glassdoor est.)',
       '$65K-$110K (Glassdoor est.)', '$200K-$275K(Employer est.)',
       '$68K-$123K (Glassdoor est.)', '$80K-$129K (Glassdoor est.)',
       '$39K-$71K (Glassdoor est.)', '$38K-$85K (Glassdoor est.)',
       '$121K-$193K (Glassdoor est.)', '$54K-$102K (Glassdoor est.)',
       '$102K-$163K (Glassdoor est.)', '$76K-$140K (Glassdoor est.)',
       '$60K-$101K (Glassdoor est.)', '$82K-$133K (Glassdoor est.)',
       '$65K-$125K (Glassdoor est.)', '$91K-$148K (Glassdoor est.)',
       '$95K-$173K (Glassdoor est.)', '$77K-$124K (Glassdoor est.)',
       '$80K-$135K (Glassdoor est.)', '$85K-$159K (Glassdoor est.)',
       '$80K-$105K(Employer est.)', '$43K-$81K (Glassdoor est.)',
       '$29K-$50K (Glassdoor est.)', '$26K-$55K (Glassdoor est.)',
       '$61K-$118K (Glassdoor est.)', '$60K-$102K (Glassdoor est.)',
       '$112K-$182K (Glassdoor est.)', '$51K-$112K (Glassdoor est.)',
       '$113K-$223K (Glassdoor est.)', '$72K-$129K (Glassdoor est.)',
       '$71K-$123K (Glassdoor est.)',
       'Employer Provided Salary:$120K-$145K',
       '$80K-$120K (Glassdoor est.)', '$80K-$130K (Glassdoor est.)',
       '$59K-$115K (Glassdoor est.)', '$71K-$136K (Glassdoor est.)',
       '$81K-$167K (Glassdoor est.)', '$71K-$204K (Glassdoor est.)',
       '$75K-$125K (Glassdoor est.)', '$77K-$136K (Glassdoor est.)',
       '$74K-$123K (Glassdoor est.)', '$44K-$78K (Glassdoor est.)',
       '$65K-$148K (Glassdoor est.)', '$59K-$110K (Glassdoor est.)',
       '$85K-$134K (Glassdoor est.)', '$124K-$204K (Glassdoor est.)',
       '$131K-$207K (Glassdoor est.)', '$110K-$174K (Glassdoor est.)',
       '$52K-$101K (Glassdoor est.)', '$81K-$133K (Glassdoor est.)',
       '$132K-$211K (Glassdoor est.)', '$74K-$140K (Glassdoor est.)',
       '$100K-$190K (Glassdoor est.)', '$43K-$80K (Glassdoor est.)',
       '$17-$24 Per Hour(Glassdoor est.)', '$91K-$149K (Glassdoor est.)',
       '$42K-$82K (Glassdoor est.)', '$116K-$185K (Glassdoor est.)',
       '$59K-$116K (Glassdoor est.)', '$48K-$95K (Glassdoor est.)',
       '$31K-$72K (Glassdoor est.)', '$105K-$198K (Glassdoor est.)',
       '$98K-$182K (Glassdoor est.)', '$73K-$124K (Glassdoor est.)',
       'Employer Provided Salary:$200K-$250K',
       '$21-$34 Per Hour(Glassdoor est.)', '$117K-$206K (Glassdoor est.)',
       '$111K-$183K (Glassdoor est.)', '$81K-$159K (Glassdoor est.)',
       '$83K-$166K (Glassdoor est.)', '$114K-$182K (Glassdoor est.)',
       '$42K-$76K (Glassdoor est.)', '$114K-$179K (Glassdoor est.)',
       '$60K-$123K (Glassdoor est.)', '$100K-$166K (Glassdoor est.)',
       '$108K-$173K (Glassdoor est.)', '$48K-$93K (Glassdoor est.)',
       '$54K-$115K (Glassdoor est.)', '$60K-$127K (Glassdoor est.)',
       '$90K-$179K (Glassdoor est.)', '$138K-$224K (Glassdoor est.)',
       '$190K-$220K(Employer est.)', '$35K-$62K (Glassdoor est.)',
       '$18-$25 Per Hour(Glassdoor est.)', '$39K-$66K (Glassdoor est.)',
       '$42K-$86K (Glassdoor est.)', '$69K-$127K (Glassdoor est.)',
       '$40K-$68K (Glassdoor est.)', '$49K-$113K (Glassdoor est.)',
       '$75K-$140K (Glassdoor est.)', '$66K-$112K (Glassdoor est.)',
       '$76K-$125K (Glassdoor est.)', '$44K-$86K (Glassdoor est.)',
       '$15-$25 Per Hour(Glassdoor est.)', '$53K-$92K (Glassdoor est.)',
       '$65K-$120K (Glassdoor est.)', '$60K-$103K (Glassdoor est.)',
       '$53K-$105K (Glassdoor est.)', '$33K-$62K (Glassdoor est.)',
       '$48K-$90K (Glassdoor est.)', '$34K-$64K (Glassdoor est.)',
       '$66K-$111K (Glassdoor est.)', '$91K-$138K (Glassdoor est.)',
       '$62K-$114K (Glassdoor est.)', '$71K-$129K (Glassdoor est.)',
       '$74K-$119K (Glassdoor est.)', '$55K-$97K (Glassdoor est.)',
       '$15K-$16K(Employer est.)', '$61K-$106K (Glassdoor est.)',
       '$127K-$199K (Glassdoor est.)', '$74K-$126K (Glassdoor est.)',
       '$33K-$72K (Glassdoor est.)', '$37K-$63K (Glassdoor est.)',
       '$67K-$119K (Glassdoor est.)', '$72K-$117K (Glassdoor est.)',
       '$78K-$126K (Glassdoor est.)', '$116K-$194K (Glassdoor est.)',
       '$83K-$133K (Glassdoor est.)', '$45K-$82K (Glassdoor est.)',
       '$83K-$135K (Glassdoor est.)', '$70K-$122K (Glassdoor est.)',
       '$70K-$132K (Glassdoor est.)', '$54K-$101K (Glassdoor est.)',
       '$68K-$112K (Glassdoor est.)', '$42K-$74K (Glassdoor est.)',
       '$95K-$161K (Glassdoor est.)', '$76K-$126K (Glassdoor est.)',
       '$108K-$176K (Glassdoor est.)', '$130K-$208K (Glassdoor est.)',
       '$37K-$68K (Glassdoor est.)', '$52K-$99K (Glassdoor est.)',
       '$105K-$173K (Glassdoor est.)', '$71K-$134K (Glassdoor est.)',
       '$39K-$82K (Glassdoor est.)', '$88K-$162K (Glassdoor est.)',
       '$55K-$99K (Glassdoor est.)', '$67K-$117K (Glassdoor est.)',
       '$92K-$150K (Glassdoor est.)', '$116K-$209K (Glassdoor est.)',
       '$38K-$82K (Glassdoor est.)', 'Employer Provided Salary:$85K-$90K',
       '$62K-$119K (Glassdoor est.)', '$84K-$136K (Glassdoor est.)',
       '$52K-$89K (Glassdoor est.)', '$65K-$119K (Glassdoor est.)',
       '$63K-$101K (Glassdoor est.)', '$127K-$202K (Glassdoor est.)',
       '$31K-$57K (Glassdoor est.)', '$75K-$143K (Glassdoor est.)',
       '$105K-$194K (Glassdoor est.)', '$45K-$86K (Glassdoor est.)',
       '$95K-$154K (Glassdoor est.)', '$80K-$148K (Glassdoor est.)',
       '$36K-$62K (Glassdoor est.)', '$50K-$92K (Glassdoor est.)',
       '$67K-$135K (Glassdoor est.)', '$42K-$80K (Glassdoor est.)',
       '$68K-$139K (Glassdoor est.)', '$34K-$92K (Glassdoor est.)',
       '$54K-$71K (Glassdoor est.)', '$65K-$124K (Glassdoor est.)',
       '$109K-$200K (Glassdoor est.)', '$61K-$113K (Glassdoor est.)',
       '$43K-$86K (Glassdoor est.)', '$74K-$149K (Glassdoor est.)',
       '$113K-$196K (Glassdoor est.)', '$97K-$160K (Glassdoor est.)',
       '$24-$39 Per Hour(Glassdoor est.)', '$102K-$172K (Glassdoor est.)',
       '$108K-$171K (Glassdoor est.)', '$76K-$142K (Glassdoor est.)',
       '$202K-$306K (Glassdoor est.)', '$49K-$97K (Glassdoor est.)',
       '$65K-$134K (Glassdoor est.)', '$32K-$59K (Glassdoor est.)',
       '$87K-$158K (Glassdoor est.)', '$107K-$173K (Glassdoor est.)',
       '$56K-$99K (Glassdoor est.)',
       'Employer Provided Salary:$25-$28 Per Hour',
       '$80K-$155K (Glassdoor est.)', '$43K-$98K (Glassdoor est.)',
       '$45K-$78K (Glassdoor est.)', '$44K-$96K (Glassdoor est.)',
       '$50K-$110K (Glassdoor est.)', '$61K-$119K (Glassdoor est.)',
       'Employer Provided Salary:$100K-$140K',
       '$56K-$91K (Glassdoor est.)', '$101K-$158K (Glassdoor est.)',
       '$125K-$210K (Glassdoor est.)', '$43K-$77K (Glassdoor est.)',
       '$139K-$221K (Glassdoor est.)', '$78K-$147K (Glassdoor est.)',
       '$37K-$66K (Glassdoor est.)', '$38K-$64K (Glassdoor est.)',
       '$43K-$82K (Glassdoor est.)', '$90K-$110K(Employer est.)',
       '$93K-$151K (Glassdoor est.)', '$40K-$101K (Glassdoor est.)',
       '$97K-$180K (Glassdoor est.)', '$81K-$134K (Glassdoor est.)',
       '$84K-$157K (Glassdoor est.)', '$121K-$203K (Glassdoor est.)',
       '$52K-$85K (Glassdoor est.)', '$81K-$140K (Glassdoor est.)',
       '$83K-$148K (Glassdoor est.)', '$31K-$55K (Glassdoor est.)',
       '$102K-$178K (Glassdoor est.)',
       'Employer Provided Salary:$110K-$130K',
       '$48K-$85K (Glassdoor est.)', '$66K-$123K (Glassdoor est.)',
       '$92K-$146K (Glassdoor est.)', '$21-$29 Per Hour(Glassdoor est.)',
       '$10-$17 Per Hour(Glassdoor est.)', '$150K-$239K (Glassdoor est.)',
       '$52K-$91K (Glassdoor est.)', '$82K-$129K(Employer est.)',
       '$47K-$101K (Glassdoor est.)', '$49K-$76K (Glassdoor est.)',
       '$43K-$88K (Glassdoor est.)', '$124K-$199K (Glassdoor est.)',
       '$97K-$181K (Glassdoor est.)', '$100K-$173K (Glassdoor est.)',
       '$53K-$96K (Glassdoor est.)', '$65K-$96K (Glassdoor est.)',
       '$75K-$127K (Glassdoor est.)', '$94K-$139K (Glassdoor est.)',
       '$176K-$289K (Glassdoor est.)', '$92K-$149K (Glassdoor est.)',
       '$118K-$188K (Glassdoor est.)', '$108K-$146K (Glassdoor est.)',
       '$65K-$106K (Glassdoor est.)', '$55K-$98K (Glassdoor est.)',
       '$94K-$162K (Glassdoor est.)', '$63K-$120K (Glassdoor est.)',
       '$126K-$228K (Glassdoor est.)', '$80K-$134K (Glassdoor est.)',
       '$85K-$142K (Glassdoor est.)', '$87K-$140K (Glassdoor est.)',
       '$76K-$127K (Glassdoor est.)', '$54K-$92K (Glassdoor est.)',
       '$61K-$100K (Glassdoor est.)', '$112K-$179K (Glassdoor est.)',
       '$63K-$111K (Glassdoor est.)', '$75K-$126K (Glassdoor est.)',
       '$110K-$184K (Glassdoor est.)', '$76K-$145K (Glassdoor est.)',
       '$70K-$118K (Glassdoor est.)', '$94K-$153K (Glassdoor est.)',
       '$150K-$180K (Glassdoor est.)', '$42K-$77K (Glassdoor est.)',
       '$47K-$85K (Glassdoor est.)', '$62K-$112K (Glassdoor est.)',
       '$64K-$108K (Glassdoor est.)', '$89K-$144K (Glassdoor est.)',
       '$55K-$105K (Glassdoor est.)', '$135K-$211K (Glassdoor est.)',
       '$57K-$80K (Glassdoor est.)', '$129K-$215K (Glassdoor est.)',
       '$63K-$127K (Glassdoor est.)', '$50K-$89K (Glassdoor est.)',
       '$71K-$124K (Glassdoor est.)', '$69K-$121K (Glassdoor est.)',
       '$150K-$238K (Glassdoor est.)', '$77K-$132K (Glassdoor est.)',
       '$59K-$112K (Glassdoor est.)', '$35K-$65K (Glassdoor est.)',
       '$79K-$147K (Glassdoor est.)', '$119K-$187K (Glassdoor est.)',
       '$90K-$157K (Glassdoor est.)', '$32K-$62K (Glassdoor est.)',
       '$116K-$208K (Glassdoor est.)', '$102K-$165K (Glassdoor est.)',
       '$91K-$159K (Glassdoor est.)', '$80K-$133K (Glassdoor est.)',
       '$39K-$69K (Glassdoor est.)', '$27K-$48K (Glassdoor est.)',
       '$36K-$71K (Glassdoor est.)', '$130K-$206K (Glassdoor est.)',
       '$99K-$178K (Glassdoor est.)', '$86K-$137K (Glassdoor est.)',
       '$37K-$100K (Glassdoor est.)', '$58K-$111K (Glassdoor est.)',
       '$72K-$133K (Glassdoor est.)', '$61K-$126K (Glassdoor est.)',
       '$95K-$160K (Glassdoor est.)', '$33K-$61K (Glassdoor est.)',
       '$69K-$119K (Glassdoor est.)', '$67K-$127K (Glassdoor est.)',
       '$66K-$117K (Glassdoor est.)', '$50K-$98K (Glassdoor est.)',
       '$90K-$153K (Glassdoor est.)',
       'Employer Provided Salary:$100K-$135K',
       '$42K-$79K (Glassdoor est.)', '$84K-$153K (Glassdoor est.)',
       '$44K-$73K (Glassdoor est.)', '$40K-$87K (Glassdoor est.)',
       '$72K-$142K (Glassdoor est.)', '$74K-$137K (Glassdoor est.)',
       '$57K-$109K (Glassdoor est.)', '$136K-$208K (Glassdoor est.)',
       '$171K-$272K (Glassdoor est.)', '$65K-$126K (Glassdoor est.)',
       '$118K-$228K (Glassdoor est.)', '$113K-$182K (Glassdoor est.)',
       '$58K-$104K (Glassdoor est.)', '$58K-$108K (Glassdoor est.)',
       '$81K-$161K (Glassdoor est.)', '$115K-$220K (Glassdoor est.)',
       '$71K-$144K (Glassdoor est.)', '$32K-$57K (Glassdoor est.)',
       '$79K-$136K (Glassdoor est.)', '$48K-$113K (Glassdoor est.)',
       '$27-$47 Per Hour(Glassdoor est.)', '$68K-$125K (Glassdoor est.)',
       '$39K-$67K (Glassdoor est.)', '$71K-$135K (Glassdoor est.)',
       '$61K-$123K (Glassdoor est.)', '$87K-$141K (Glassdoor est.)',
       '$71K-$121K (Glassdoor est.)', '$72K-$121K (Glassdoor est.)',
       '$51K-$88K (Glassdoor est.)', '$101K-$141K (Glassdoor est.)',
       '$79K-$127K (Glassdoor est.)', '$81K-$132K (Glassdoor est.)',
       'Employer Provided Salary:$120K-$140K',
       '$65K-$113K (Glassdoor est.)', '$59K-$125K (Glassdoor est.)',
       '$80K-$142K (Glassdoor est.)', '$62K-$113K (Glassdoor est.)'],
      dtype=object)

In [32]:
salary = data.salary.apply(lambda x : x.split('(')[0])

In [34]:
salary = salary.apply(lambda x : x.replace('K',''))

In [36]:
salary = salary.apply(lambda x : x.replace('$',''))

In [42]:
data['hourly'] = salary.apply(lambda x: 1 if 'per hour' in x.lower() else 0)

In [43]:
data['emp_provided'] = salary.apply(lambda x: 1 if 'employer provided salary:' in x.lower() else 0)

In [49]:
salary = salary.apply(lambda x: x.lower().replace('employer provided salary:',''))

In [50]:
salary = salary.apply(lambda x: x.lower().replace('per hour',''))

In [66]:
salary_l = salary.apply(lambda x: int(x.split('-')[0]))
salary_u = salary.apply(lambda x: int(x.split('-')[1]))

mean_salary = (salary_l + salary_u)/2

In [84]:
data['mean_salary'] = mean_salary*1000

In [81]:
data['mean_salary'] = data.apply(lambda x : x['mean_salary']*1920 if x['hourly']==1 else x['mean_salary'], axis = 1)

In [90]:
data['mean_salary']

0       72000.0
1       87500.0
2       85000.0
3       76500.0
4      114500.0
         ...
950     84500.0
951    102500.0
952     73500.0
953    127500.0
955     93500.0
Name: mean_salary, Length: 742, dtype: float64

# Company name parsing

In [93]:
data['company'] = data.apply(lambda x: x['company'] if x['rating'] == -1 else x['company'][:-3], axis = 1)

In [94]:
data.company

0                          Tecolote Research\n
1      University of Maryland Medical System\n
2                                    KnowBe4\n
3                                       PNNL\n
4                         Affinity Solutions\n
                        ...
950                                      GSK\n
951                               Eventbrite\n
952           Software Engineering Institute\n
953                             Numeric, LLC\n
955             Riverside Research Institute\n
Name: company, Length: 742, dtype: object

# Splitting location to state and city

In [95]:
data.location

0      Albuquerque, NM
1        Linthicum, MD
2       Clearwater, FL
3         Richland, WA
4         New York, NY
            ...
950      Cambridge, MA
951      Nashville, TN
952     Pittsburgh, PA
953      Allentown, PA
955    Beavercreek, OH
Name: location, Length: 742, dtype: object

In [129]:
data['city'] = data['location'].apply(lambda x: x.split(',')[0])
data['state'] = data['location'].apply(lambda x: x.split(',')[1])

In [99]:
data['job_at_hq'] = data.apply(lambda x: 1 if x.location == x.headquarters else 0, axis = 1)

# Company Age

In [100]:
data['age'] = data.founded.apply(lambda x: x if x < 1 else 2020-x)

In [101]:
data

,title,salary,description,rating,company,location,headquarters,size,founded,type,...,sector,revenue,competitors,hourly,emp_provided,mean_salary,city,state,job_at_hq,age
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,...,Aerospace & Defense,$50 to $100 million (USD),-1,0,0,72000.0,Albuquerque,NM,0,47
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,...,Health Care,$2 to $5 billion (USD),-1,0,0,87500.0,Linthicum,MD,0,36
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,...,Business Services,$100 to $500 million (USD),-1,0,0,85000.0,Clearwater,FL,1,10
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,...,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0,76500.0,Richland,WA,1,55
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,...,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0,114500.0,New York,NY,1,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950,"Sr Scientist, Immuno-Oncology - Oncology",$58K-$111K (Glassdoor est.),Site Name: USA - Massachusetts - Cambridge\nPo...,3.9,GSK\n,"Cambridge, MA","Brentford, United Kingdom",10000+ employees,1830,Company - Public,...,Biotech & Pharmaceuticals,$10+ billion (USD),"Pfizer, AstraZeneca, Merck",0,0,84500.0,Cambridge,MA,0,190
951,Senior Data Engineer,$72K-$133K (Glassdoor est.),THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbrite\n,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,Company - Public,...,Information Technology,$100 to $500 million (USD),"See Tickets, TicketWeb, Vendini",0,0,102500.0,Nashville,TN,0,14
952,"Project Scientist - Auton Lab, Robotics Institute",$56K-$91K (Glassdoor est.),The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\n,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,College / University,...,Education,Unknown / Non-Applicable,-1,0,0,73500.0,Pittsburgh,PA,1,36
953,Data Science Manager,$95K-$160K (Glassdoor est.),Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC\n","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,...,Business Services,$5 to $10 million (USD),-1,0,0,127500.0,Allentown,PA,0,-1
955,Research Scientist – Security and Privacy,$61K-$126K (Glassdoor est.),Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\n,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,Nonprofit Organization,...,Government,$50 to $100 million (USD),-1,0,0,93500.0,Beavercreek,OH,0,53

# Parse Job Description

In [104]:
data['description']

0      Data Scientist\nLocation: Albuquerque, NM\nEdu...
1      What You Will Do:\n\nI. General Summary\n\nThe...
2      KnowBe4, Inc. is a high growth information sec...
3      *Organization and Job ID**\nJob ID: 310709\n\n...
4      Data Scientist\nAffinity Solutions / Marketing...
                             ...
950    Site Name: USA - Massachusetts - Cambridge\nPo...
951    THE CHALLENGE\nEventbrite has a world-class da...
952    The Auton Lab at Carnegie Mellon University is...
953    Data Science ManagerResponsibilities:\n\nOvers...
955    Returning Candidate? Log back in to the Career...
Name: description, Length: 742, dtype: object

In [108]:
data['python'] = data['description'].apply(lambda x : 1 if 'python' in x.lower() else 0)
data['R'] = data['description'].apply(lambda x : 1 if 'r studio' in x.lower() else 0)
data['spark'] = data['description'].apply(lambda x : 1 if 'spark' in x.lower() else 0)
data['hadoop'] = data['description'].apply(lambda x : 1 if 'hadoop' in x.lower() else 0)
data['tableau'] = data['description'].apply(lambda x : 1 if 'tableau' in x.lower() else 0)
data['sql'] = data['description'].apply(lambda x : 1 if 'sql' in x.lower() else 0)
data['aws'] = data['description'].apply(lambda x : 1 if 'aws' in x.lower() else 0)
data['excel'] = data['description'].apply(lambda x : 1 if 'excel' in x.lower() else 0)

In [126]:
data

,title,salary,description,rating,company,location,headquarters,size,founded,type,...,python,R,spark,hadoop,tableau,sql,aws,excel,title_cat,seniority
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,...,1,0,0,0,1,0,0,1,data scientist,na
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,...,1,0,0,0,0,0,0,0,data scientist,na
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,...,1,0,1,0,0,1,0,1,data scientist,na
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,...,1,0,0,0,0,0,0,0,data scientist,na
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,...,1,0,0,0,0,1,0,1,data scientist,na
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950,"Sr Scientist, Immuno-Oncology - Oncology",$58K-$111K (Glassdoor est.),Site Name: USA - Massachusetts - Cambridge\nPo...,3.9,GSK\n,"Cambridge, MA","Brentford, United Kingdom",10000+ employees,1830,Company - Public,...,0,0,0,0,0,0,1,0,na,senior
951,Senior Data Engineer,$72K-$133K (Glassdoor est.),THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbrite\n,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,Company - Public,...,1,0,1,1,0,1,1,0,data engineer,senior
952,"Project Scientist - Auton Lab, Robotics Institute",$56K-$91K (Glassdoor est.),The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\n,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,College / University,...,0,0,0,0,0,0,0,1,na,na
953,Data Science Manager,$95K-$160K (Glassdoor est.),Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC\n","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,...,0,0,0,0,0,0,0,1,manager,na
955,Research Scientist – Security and Privacy,$61K-$126K (Glassdoor est.),Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\n,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,Nonprofit Organization,...,1,0,0,0,0,0,0,0,na,na

In [109]:
data.to_csv('cleaned_data')

   # Categorizing Titles and Seniority

In [114]:
def title_cat(title):
    if 'data scientist' in title.lower():
        return 'data scientist'
    elif 'data engineer' in title.lower():
        return 'data engineer'
    elif 'analyst' in title.lower():
        return 'analyst'
    elif 'machine learning' in title.lower():
        return 'mle'
    elif 'manager' in title.lower():
        return 'manager'
    elif 'director' in title.lower():
        return 'director'
    else:
        return 'na'
    
def seniority(title):
    if 'sr'in title.lower() or 'senior' in title.lower() or 'lead' in title.lower() or 'principal' in title.lower():
        return 'senior'
    elif 'jr' in title.lower() or 'junior' in title.lower():
        return 'junior'
    else:
        return 'na'

In [117]:
data['title_cat'] = data['title'].apply(title_cat)
data.title_cat.value_counts()

data scientist    279
na                184
data engineer     119
analyst           102
mle                22
manager            22
director           14
Name: title_cat, dtype: int64

In [115]:
data['seniority'] = data['title'].apply(seniority)
data.seniority

0          na
1          na
2          na
3          na
4          na
        ...
950    senior
951    senior
952        na
953        na
955        na
Name: seniority, Length: 742, dtype: object

In [116]:
data.seniority.value_counts()

na        519
senior    220
junior      3
Name: seniority, dtype: int64

In [133]:
data['state'].value_counts()

CA    152
MA    103
NY     72
VA     41
IL     40
MD     35
PA     33
TX     28
WA     21
NC     21
NJ     17
FL     16
OH     14
TN     13
CO     11
DC     11
IN     10
UT     10
WI     10
AZ      9
MO      9
AL      8
DE      6
KY      6
GA      6
MI      6
IA      5
CT      5
NE      4
LA      4
OR      4
NM      3
KS      3
MN      2
ID      2
RI      1
SC      1
Name: state, dtype: int64

In [132]:
# fix state Los Angeles
data['state'] = data['state'].apply(lambda x: x.strip() if x.strip().lower() != 'los angeles' else 'CA')

In [135]:
data['desc_len'] = data['description'].apply(lambda x: len(x))

In [136]:
data['company'] = data['company'].apply(lambda x : x.replace('\n',''))

In [137]:
data

,title,salary,description,rating,company,location,headquarters,size,founded,type,...,R,spark,hadoop,tableau,sql,aws,excel,title_cat,seniority,desc_len
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,...,0,0,0,1,0,0,1,data scientist,na,2536
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,...,0,0,0,0,0,0,0,data scientist,na,4783
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,...,0,1,0,0,1,0,1,data scientist,na,3461
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,...,0,0,0,0,0,0,0,data scientist,na,3883
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,...,0,0,0,0,1,0,1,data scientist,na,2728
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950,"Sr Scientist, Immuno-Oncology - Oncology",$58K-$111K (Glassdoor est.),Site Name: USA - Massachusetts - Cambridge\nPo...,3.9,GSK,"Cambridge, MA","Brentford, United Kingdom",10000+ employees,1830,Company - Public,...,0,0,0,0,0,1,0,na,senior,6162
951,Senior Data Engineer,$72K-$133K (Glassdoor est.),THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbrite,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,Company - Public,...,0,1,1,0,1,1,0,data engineer,senior,6130
952,"Project Scientist - Auton Lab, Robotics Institute",$56K-$91K (Glassdoor est.),The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,College / University,...,0,0,0,0,0,0,1,na,na,3078
953,Data Science Manager,$95K-$160K (Glassdoor est.),Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,...,0,0,0,0,0,0,1,manager,na,1642
955,Research Scientist – Security and Privacy,$61K-$126K (Glassdoor est.),Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,Nonprofit Organization,...,0,0,0,0,0,0,0,na,na,3673

In [138]:
data.to_csv('cleaned_data')